@import url("../fonts/iranyekan/style.css");

@font-face {
  font-family: "Estedad-Bold";
  src: url("../fonts/estedad/Estedad-Bold.woff") format("woff");
}
@font-face {
  font-family: "MolsaqArabic-ExtraBold";
  src: url("../fonts/MolsaqArabic-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "CinemaFont";
  src: url("../fonts/CinemaFont.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: IRANYekan !important;
  color: #fff;
}

#login-btn:hover{
  background-color: #f8f9fa;
  color: #0d6efd;
}
.register-btn:hover{
  background-color: #0d6efd;
  color: white;
}


.display-7,
h5 {
  font-family: "Estedad-Bold" !important;
}
.display-5{
  font-family: "CinemaFont" !important;
  font-size: 70px;
  
}
.display-4{
  font-family: "CinemaFont" !important;
  font-size:50px;
  
}

.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
nav {
  border-bottom: 2px solid #08f;
  
}
.iconTop {
  background-color: #023047;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  border-radius: 1.25rem;
  display: inline-flex;
}
i {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
h5 {
  font-size: 1rem;
  color: #fff;
}

p {
  color: #08f;
  font-size: medium;
}
#rent {
  font-size: 1.15rem;
  text-align: justify;
  color: #023047;
  line-height: 2rem;
}
.num {
  color: rgb(0, 174, 255);
  font-size: 1.5rem;
}

.data-input-section {
  background-color: #ededed;
  padding: 70px 20px 70px 20px;
  width: auto;
  border-radius: 30px 30px 70px 70px;
  align-items: center;
  position: relative;
  border: 4px solid #08f;
}

.result-section {
  background-color: #ffb703;
  padding: 40px;
  border-radius: 30px;
}

#title {
  margin-bottom: 40px;
}

/* Sajad Style */
#tittle-from {
  /* width:60%; */
  font-size: 30px;
  padding-right: 10px;
  text-align: center;
  color: #fb8500;
  font-weight: 1000;
  font-family: "Estedad-Bold";
}
h4 {
  color: #8ecae6;
  text-align: center;
  font-size: 18px;
  font-family: "Estedad-Bold";
  font-weight: 1000;
}
.modal-content {
  border-top: 15px solid green;
}

.count {
  text-align: center;
  margin: 20px 0 20px 0;
}

a {
  font-size: 18px;
  color: #023047;
  text-decoration: none;
}

#result {
  display: none;
}

/* swiper defualt css*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  height: auto;
  background: #08f;
  padding: 50px;
  border-radius: 20px;
  /* border: 3px solid #023047; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input#homeDocument{
  display: none;
}
input#homeDocument + label{
  padding : 15px;
  border: 1px solid #08f ;
  color: #ffffff;
}


#dashboard-item{
  padding: 70px;
  border: 4px solid #08f;
  border-radius: 30px;
  margin-top: 200px;
  color: #08f;
}
#dashboard-item a{
  font-size:40px ;
  font-weight: 900;
  color: #08f;
}


