@font-face {
	font-family: IRANYekan;
	src: url("5bea6c32.eot?#iefix") format("embedded-opentype"), url("Estedad-Bold.woff") format("woff2"), url("Estedad-Bold.woff") format("woff"), url("79533773.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
